<li class="comments-box">
  <div class="comment-content">
    <p><%= comment.content %></p>
  </div>
  <div class="comment-time">
    <p>(<%= comment.created_at.strftime('%e %b %Y') %>)</p>
  </div>
  <div class="comment-delete">
    <%= link_to comment_path(comment), method: 'delete', class: "delete_comment", data: { :confirm => "Are you sure?" }  do %>
    <i class="far fa-trash-alt"></i>
    <% end %>
  </div>
</li>
