// Specific CSS for your home-page
h1,h2 {
  margin-top: 3rem;
}
.todos-main-header{
  margin-top: 3rem;
  font-weight: lighter;
}
.todos-greeting-header {
  margin-top: 1rem;
  font-weight: bold;
}
.fa-comment-alt {
  color: rgb(176, 129, 190);
  &:hover {
    cursor: pointer;
  }
}
.todo-done {
  color: rgba(100,100,100,.5);
  text-decoration: line-through;
}
.main-page-footer {
  height: 5rem;
}
