<div class="modal fade" id="modal-<%= todo.id %>" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLongTitle">Task: <%= todo.task %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="todomodal-comments">
          <% todo.comments.each do |comment| %>
          <%= render "comments/comment", comment: comment %>
          <% end %>
        </ul>
      </div>
      <div class="modal-footer">
        <%= render "comments/comment_new_form", todo: todo %>
      </div>
    </div>
  </div>
</div>
