<h1 class="todos-main-header">Your WhatToDos</h1>
<h3 class="todos-greeting-header">Hey <%= current_user.email.split('@').first %>, what do you want to accomplish today?</h3>
<button type="button" class="btn btn-custom-large" data-toggle="modal" data-target="#exampleModal">Create WhatToDo</button>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Check!</th>
      <th scope="col">Task</th>
      <th scope="col">Priority</th>
      <th scope="col">Deadline</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @todos.where(user: current_user).each do |todo| %>
      <% if current_user == todo.user %>
          <!-- render todo partial -->
          <%= render "todo", todo: todo %>
      <% end %>
    <% end %>
  </tbody>
</table>
<div class="main-page-footer"></div>
