.navbar {
  background: white;
  box-shadow: 1px 1px 1px rgb(120,120,120);
  height: 3rem;
  padding: 0 10%;
  justify-content: space-between;
}
.navbar .navbar-collapse {
  flex-grow: 0;
}
.navigation {
  display: inline;
  float: left;
}
.search-and-profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#navbarDropdown {
  width: 30px;
  border-radius: 50%;
  margin: 0 1rem;
  cursor: pointer;
}
.dropdown-item {
  font-weight: light;
  font-size: 13px;
}

